
.hero-div{
    height: auto;
    width: 60vh;
   padding: 4%;

}
p{
    text-align: center;
}
.hero-main-div{
    width: 200%;
}
.main-div{
    width: 120%;
    margin-left: 0px;
    margin-right: 0px;
}